.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primmary-text-color;
  text-align: center;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current {
  color: $accent-color;
  background-color: $primary-white-color;
}

.site-nav__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  position: absolute;
  bottom: -1px;
  right: 0;

  background-color: $accent-color;
}

.site-nav__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  // border: none;
  // background-color: transparent;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  transition: fill 250ms $timing-function;
}

// .site-nav__icon-close {
//   .site-nav__button & {
//     display: none;
//   }
//   .site-nav__button.is-open & {
//     display: block;
//   }
// }

// .site-nav__icon-menu {
//   .site-nav__button.is-open & {
//     display: none;
//   }
// }

.site-nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 3;
  // display: none;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms $timing-function, opacity 250ms $timing-function;
  background-color: violet;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    // display: block;
    transform: translateX(0);
    opacity: 1;
  }
}

.site-nav__menu-navigation {
}

.site-nav__menu-contacts {
}
